<!DOCTYPE html>
<html lang="en">

<head>
	  <title>4Markting</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://4markting.com/assets/css/style.css">
<style> @import url(https://fonts.googleapis.com/earlyaccess/notosanskufiarabic.css);	</style>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


</head>

<body class="cms-index-index cms-home-page">

<!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<section class="intro_bg">
  <div class="gradiant">
    <div class="check_intro">
      <div class="inter_form">
        <div class="img_intro">
          <img src="<?= DIR_DES_STYLE?>site_setting/<?= $site_info->logo_intro;?>" alt="">
        </div>
        
        <div class="intro_btns">
          <a href="https://4markting.com/pages" class="log">إدخل حسابك</a>
          <a href="https://4markting.com/pages/register" class="sign">إنشاء حساب</a>
        </div>
        

      </div>
    </div>
  </div>
</section>

<!-- jquery js --> 
<script type="text/javascript" src="https://4markting.com/assets/js/jquery.min.js"></script> 
<!-- bootstrap js --> 
<script type="text/javascript" src="https://4markting.com/assets/js/bootstrap.min.js"></script> 

</body>

</html>
